@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background-color: #ffffff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #F70000;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin-top: 30px;
}

p.sub {
    color:#F70000;
    font-size: 36px;
    text-align: center;
    font-weight: 800;
}

.icon{
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

.icon:hover{
    background-color: #ffffff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

/* ESTILO BARRA DE MOVIMENTO */
.moving-bar{
    background-color: #58D3E9;
    overflow: hidden;
    border-top: 4px solid #FF2121;
    padding: 10px;
}

.moving-bar .text{
    color: white;
    font-size: 15px;
    white-space: nowrap;
    animation: moveText 30s linear infinite;
}

/* ANIMAÇÃO */
@keyframes moveText {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%);
    }
}

/* ESTILO DO CABEÇALHO */
header {
    max-width: 100%;
    background-color: #58D3E9;
    padding: 40px 2%;
    box-shadow: 0px 20px 0px #464646;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.logo img {
    max-width: 450px;
    margin-right: 80px;
}

header a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;

}

header nav.menu-desktop a:hover {
    color: #FF2121;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 15px;
    margin-top: 10px;
}

nav.menu-desktop ul li img {
    filter: invert(16%) sepia(73%) saturate(5883%) hue-rotate(16deg) brightness(104%) contrast(106%);
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
    margin-right: 10px;
}

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu i {
    color: #ffffff;
    font-size: 50px;
    display: none;
}

.menu-mobile {
    background-color: #FF2121;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #ffffff;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: white;
    color: #0e0c0c;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.855);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
    background-color: #58D3E9;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin: 20px 0;
}

.topo-do-site h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 63px;
    letter-spacing: -2.9px;
}

.topo-do-site p {
    font-size: 21px;
    color: #ffffff;
    line-height: 21px;
    margin: 40px 0;
}

.topo-do-site .btn-contato button {
    padding: 10px 35px;
    font-size: 36px;
    font-weight: 900;
    background-color: #FF2121;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff ;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
}

.topo-do-site .btn-contato a {
    text-decoration: none;
}

.topo-do-site .btn-contato button img {
    filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(42deg) brightness(102%) contrast(107%);
    width: 30px; 
    height: 30px;
}

.topo-do-site .btn-contato button:hover {
    box-shadow: 0px 0px 8px #58d3e9;
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img {
    width: 500px;
    height: 500px;
    position: relative;
}

/* ESTILOS DE OFERTAS */
section.ofertas {
    padding: 40px 4%;
}

section.ofertas .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ofertas-box {
    width: 18%;
    border-radius: 20px;
    margin: 50px 0 20px 0;
    text-align: center;
    transition: .2s;
}

.ofertas-box .nome {
    color: #FF2121;
    font-weight: 500;
    font-size: 16px;
    list-style: 16px;
}

.ofertas-box .valor{
    color: #FF2121;
    font-size: 36px;
    font-weight: 800;
}

.ofertas-box a {
    text-decoration: none;
}

.ofertas img {
    margin-top: 10px;
    width: 230px;
    height: 230px;
}

/* ESTILOS DOS SERVIÇOS */
section.servicos {
    padding: 40px 4%;
}

section.servicos .flex {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos .servicos-box {
    color: #ffffff;
    padding: 20px;
    background-color: #FF2121;
    text-align: center;
    width: 400px;
    height: 290px;
    border-radius: 20px;
    margin-top: 30px;
}

.servicos .servicos-box img {
    margin: 10px 0 15px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(194deg) brightness(103%) contrast(101%);
    height: 45px;
    width: 45px;
}

.servicos .servicos-box h3 {
    font-size: 16px;
    margin: 12px 0;
}

.servicos .servicos-box p{
    text-align: left;
    font-size: 16px;
    line-height: 22.4px;
}

.servicos .btn-contato button {
    margin: 25px auto;
    padding: 10px 35px;
    font-size: 36px;
    font-weight: 900;
    background-color: #FF2121;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
}

.servicos .btn-contato a {
    text-decoration: none;
}

.servicos .btn-contato button img {
    filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(42deg) brightness(102%) contrast(107%);
}

.servicos .btn-contato button:hover {
    box-shadow: 0px 0px 8px #d9040476;
    transform: scale(1.05);
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
    background-color: #FF2121;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre img{
    width: 600px;
    height: 565px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.sobre .txt-sobre {
    color: #ffffff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    justify-content: center;
}

/* ESTILOS DE UNIDADE */
section.unidade {
    padding: 40px 4%;
}

section.unidade .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unidade-box {
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 410px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;

}

.unidade-box h3 {
    color: #FF2121;
}

.unidade-box p {
    margin-top: 5px;
}

.unidade-box .btn-end {
    margin: 15px auto;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 900;
    background-color: #FF2121;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
}

.unidade-box a {
    text-decoration: none;
}

.unidade-box .btn-end button img {
    filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(42deg) brightness(102%) contrast(107%);
}

.unidade-box .btn-end:hover {
    box-shadow: 0px 0px 8px #d9040476;
    transform: scale(1.05);
}

.unidade img {
    margin-top: 10px;
    width: 230px;
    height: 230px;
    border-radius: 30px;
    border: solid #FF2121 1px;
}

/* ESTILOS DO RODAPÉ */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 20px #0e0c0c28;

}

footer img{
    width: 300px;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
}

#footer_contacts h1 {
    color: #F70000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

#footer_contacts p span {
    font-weight: 700;
}

#footer_social_media {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    color: #ffffff;
    font-size: 25px;
    margin-left: 1.5px;
    margin-top: 1.5px;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-hour {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-hour p {
    margin-bottom: 10px;
}

.footer-hour p span {
    font-weight: 700;
}

#footer_copyright {
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
}

footer.img-fp {
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .img-fp .img1 {
    width: 30px;
}

footer .img-fp .img2 {
    width: 55px;
    margin-bottom: 5px;
}

footer .img-fp .img3 {
    width: 75px;
}

.des {
    margin-top: 20px;
    text-align: center;
}

.des a{
    text-decoration: none;
    color: #919191;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
}

.des a span {
    color: #3a3a3a;
}

@media screen and (max-width: 1250px) {

    /* CLASSES GERAIS */
    h2.titulo {
        font-size: 22px;
    }

    p.sub {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop {
        font-size: 15px;
    }

    header .btn-contato button,
    .btn-login button {
        display: none;
    }

    header {
        padding: 50px 4%;
    }

    .logo img {
        max-width: 190px;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 30px 3%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 40px;
        line-height: 38px;
    }

    .topo-do-site p {
        margin: 30px 0;
    }

    .topo-do-site .btn-contato button {
        padding: 6px 35px;
        font-size: 28px;
    }

    /* ESTILOS DOS SERVIÇOS */
    section.servicos {
        padding: 50px 6%;
    }

    section.servicos .flex {
        gap: 10px;
    }

    .servicos .servicos-box h3 {
        font-size: 20px;
    }

    .servicos .btn-contato button {
        padding: 8px 30px;
        font-size: 30px;
    }
    
    /* ESTILO DO SOBRE */
    .sobre img{
        width: 500px;
        height: 465px;
        border-radius: 50%;
        border: 4px solid white;
    }
    
    .sobre .txt-sobre {
        color: #fff;
    }

    /* ESTILOS DE UNIDADE */
    section.unidade {
        padding: 40px 6%;
    }

    section.unidade .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .unidade-box {
        margin-bottom: 10px;
    }

    .unidade-box p {
        margin-top: 5px;
    }

    .unidade-box .btn-end {
        margin: 15px auto;
        padding: 7px 18px;
        font-size: 16px;
    }

    .unidade img {
        margin-top: 10px;
        width: 220px;
        height: 220px;
    }

    /* ESTILOS DO RODAPÉ */
    footer {
        padding: 40px 6%;
        box-shadow: 0 0 8px #0e0c0c28;
    }

    #footer_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #footer_contacts h1 {
        font-size: 25px;
    }

    #footer_contacts p {
        font-size: 15px;
    }

    .footer-hour li p {
        font-size: 14px;
    }

    footer .img-fp img {
        width: 5%;
    }

    #footer_social_media {
        align-items: center;
        justify-content: center;
    }

    #footer_social_media .footer-link {
        height: 30px;
        width: 30px;
    }

    #footer_social_media .footer-link i {
        font-size: 15px;
    }

    footer .img-fp img {
        width: 5%;
    }
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    h2.titulo {
        font-size: 20px;
    }

    p.sub {
        font-size: 32px;
        line-height: 28px;
    }

    /* CABEÇALHO */
    .menu-desktop{
        display: none;
    }

    header {
        padding: 20px 8%;
    }

    .logo img {
        max-width: 350px;
        margin-right: 200px;
    }

    .btn-abrir-menu i {
        display: block;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 80px 10%;
    }

    section.topo-do-site .flex {
        gap: 30px;
    }

    .topo-do-site h1 {
        font-size: 33px;
    }

    .topo-do-site p {
        margin: 30px 0;
    }

    .topo-do-site .btn-contato button {
        padding: 6px 35px;
        font-size: 28px;
    }

    .topo-do-site .img-topo-site img{
        width: 350px;
        height: 350px;
    }

    /* ESTILOS DAS OFERTAS */
    section.ofertas {
        padding: 20px 8%;
    }

    section.ofertas .flex{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ofertas-box {
        width: 380px;
        height: 450px;
    }

    /* ESTILOS DOS SERVIÇOS */
    section.servicos {
        padding: 20px 8%;
    }

    .servicos .servicos-box h3 {
        font-size: 18px;
    }

    .servicos .servicos-box p {
        font-size: 12px;
    }

    section.servicos .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 110px;
    }

    section.unidade .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 110px;
    }
}

@media screen and (max-width: 1000px){
    /* RODAPÉ */
    footer {
        width: 100%;
    }

    footer #footer_content {
        grid-template-columns: 1fr;
    }

    #footer_contacts h1 {
        font-size: 18px;
    }

    #footer_contacts p {
        font-size: 12px;
    }

    #footer_social_media {
        align-items: center;
        justify-content: center;
    }

    #footer_social_media .footer-link {
        height: 30px;
        width: 30px;
    }

    #footer_social_media .footer-link i {
        font-size: 15px;
    }

    .footer-hour p {
        margin-bottom: 5px;
        font-size: 12px;
    }

    #footer_copyright {
        font-size: 10px;
    }

    footer.img-fp {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .img-fp img {
        width: 5%;
    }
}

@media screen and (max-width: 945px) {
    /* ESTILOS DOS SERVIÇOS */
    section.servicos {
        padding: 20px 8%;
    }

    .servicos .servicos-box h3 {
        font-size: 18px;
    }

    .servicos .servicos-box p {
        font-size: 12px;
    }

    section.servicos .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 90px;
    }

    section.unidade .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 90px;
    }
}

@media screen and (max-width: 900px){
    .topo-do-site .img-topo-site img{
        width: 250px;
        height: 250px;
    }
    /* ESTILOS DAS OFERTAS */
    section.ofertas {
        padding: 40px 8%;
    }

    section.ofertas .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ofertas-box {
        width: 280px;
        height: 350px;
    }

    /* ESTILOS DOS SERVIÇOS */
    section.servicos {
        padding: 40px 8%;
    }

    section.servicos .flex {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* ESTILO DO SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre img{
        width: 320px;
        height: 320px;
    }
    
    .sobre .txt-sobre {
        color: #fff;
        text-align: center;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    /* ESTILO DE UNIDADE */
    section.unidade .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .unidade-box {
        width: 290px;
        height: 400px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 25px;
    }

    p.sub {
        font-size: 20px;
        line-height: 40px;
    }

    /* CABEÇALHO */
    .menu-desktop{
        display: none;
    }

    header {
        width: 100%;
    }

    .logo img {
        width: 50%;
    }

    .topo-do-site .img-topo-site img{
        width: 230px;
        height: 230px;
    }

    .btn-abrir-menu i {
        display: block;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 20px 8%;
        height: 700px;
        align-items: center;
        justify-content: center;
    }

    section.topo-do-site .flex {
        gap: 20px;
        flex-direction: column;
    }

    .topo-do-site h1 {
        font-size: 30px;
        text-align: center;
    }

    .topo-do-site p{
        text-align: center;
    }

    .topo-do-site .btn-contato{
        display: flex;
        justify-content: center;
    }

    .topo-do-site .btn-contato button {
        padding: 12px 20px;
        font-size: 20px;
    }

    .topo-do-site .btn-contato button img {
        width: 20px;
        height: 20px;
    }

    /* ESTILOS DAS OFERTAS */
    section.ofertas {
        padding: 40px 8%;
    }

    section.ofertas .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ofertas-box {
        width: 280px;
        height: 350px;
    }

    /* ESTILOS DOS SERVIÇOS */
    section.servicos {
        width: 100%;
    }

    section.servicos .flex {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .servicos .servicos-box {
        padding: 20px;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-top: 30px;
    }

    .servicos .btn-contato button {
        margin: 25px auto;
        padding: 10px 35px;
        font-size: 20px;
    }

    /* ESTILO DO SOBRE */
    section.sobre {
        width: 100%;
    }

    .sobre .flex{
        display: flex;
        flex-direction: column;
    }

    .sobre img{
        width: 320px;
        height: 320px;
    }
    
    .sobre .txt-sobre {
        color: #fff;
        text-align: center;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    /* ESTILO DE UNIDADE */
    section.unidade {
        width: 100%;
    }

    section.unidade .flex {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .unidade-box {
        width: 300px;
        height: 410px;
        margin-bottom: 5px;
    }

    /* RODAPÉ */
    footer {
        width: 100%;
    }

    footer #footer_content {
        grid-template-columns: 1fr;
    }

    #footer_contacts h1 {
        font-size: 18px;
    }

    #footer_contacts p {
        font-size: 12px;
    }

    #footer_social_media {
        align-items: center;
        justify-content: center;
    }

    #footer_social_media .footer-link {
        height: 30px;
        width: 30px;
    }

    #footer_social_media .footer-link i {
        font-size: 15px;
    }

    .footer-hour p {
        margin-bottom: 5px;
        font-size: 12px;
    }

    #footer_copyright {
        font-size: 10px;
    }

    footer.img-fp {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .img-fp img {
        width: 5%;
    }
}